<a href="https://colab.research.google.com/github/vikpy/mtechdatascience_mlcourse/blob/master/hw2_social_network.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:
import numpy as np 
import matplotlib.pyplot as plt
import pandas as pd

In [20]:
dataset = pd.read_csv("/content/drive/My Drive/data_ml_course/Social_Network_Ads.csv", index_col=0)
dataset.shape

(400, 4)

In [9]:
from sklearn.preprocessing import LabelEncoder
myLabelEncoder = LabelEncoder()
dataset.iloc[:,0]  = myLabelEncoder.fit_transform(dataset.iloc[:,0])
dataset.iloc[:,0]

User ID
15624510    1
15810944    1
15668575    0
15603246    0
15804002    1
           ..
15691863    0
15706071    1
15654296    0
15755018    1
15594041    0
Name: Gender, Length: 400, dtype: int64

In [11]:
X = dataset.iloc[:,0:3]
X

          Gender  Age  EstimatedSalary
User ID
15624510       1   19            19000
15810944       1   35            20000
15668575       0   26            43000
15603246       0   27            57000
15804002       1   19            76000
...          ...  ...              ...
15691863       0   46            41000
15706071       1   51            23000
15654296       0   50            20000
15755018       1   36            33000
15594041       0   49            36000

[400 rows x 3 columns]

In [13]:
y = dataset.iloc[:, 3]
y

User ID
15624510    0
15810944    0
15668575    0
15603246    0
15804002    0
           ..
15691863    1
15706071    1
15654296    1
15755018    0
15594041    1
Name: Purchased, Length: 400, dtype: int64

In [0]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test =  train_test_split(X,y, test_size = 1/5, random_state=5 )

In [0]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.fit_transform(X_test)

In [16]:
# Fitting Logistic Regression to the model 
from sklearn.linear_model import LogisticRegression 
classifier = LogisticRegression(random_state = 1)
classifier.fit(X_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=1, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [0]:
y_pred = classifier.predict(X_test)

In [18]:
# Making the Confusion Matrix 
from sklearn.metrics import confusion_matrix 
cm  = confusion_matrix(y_test, y_pred)
cm

array([[45,  8],
       [ 5, 22]])

In [22]:
67/(45+22+ 13)

0.8375