<a href="https://colab.research.google.com/github/vikpy/mtechdatascience_mlcourse/blob/master/test1_q1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
"""
Q 1. Multi variate Linear Regression using CarSeat Data set: - 
a. Fit a linear multi-regression model to predict Sales using Price, Urban, and US in Carseats data set?							
b. How to check if there is any relationship between the response and predictors 
c. For which of the predictors can you reject the null hypothesis H0 : ÃŸj = 0? 
d. State two short comings of fitting a linear regression model 			
"""

# Q1. a]

In [0]:
# Q1. a]
import numpy as np
import matplotlib.pyplot as plt
import scipy
import pandas as pd
import math
import random

import statsmodels.api as sm
import statsmodels.formula.api as smf
from statsmodels.graphics.regressionplots import*
from sklearn import datasets,linear_model

In [48]:
data = pd.read_csv("/content/Carseats.csv")
data.head(5)

   Sales  CompPrice  Income  Advertising  ...  Age  Education Urban   US
0   9.50        138      73           11  ...   42         17   Yes  Yes
1  11.22        111      48           16  ...   65         10   Yes  Yes
2  10.06        113      35           10  ...   59         12   Yes  Yes
3   7.40        117     100            4  ...   55         14   Yes  Yes
4   4.15        141      64            3  ...   38         13   Yes   No

[5 rows x 11 columns]

In [8]:
data.isnull().sum()

Sales          0
CompPrice      0
Income         0
Advertising    0
Population     0
Price          0
ShelveLoc      0
Age            0
Education      0
Urban          0
US             0
dtype: int64

In [0]:
# Since ShelveLoc is an ordered value we assign values to good, bad and medium 
def convertShelf(x):
  if x == "Bad" :
    return 0
  elif x == "Medium":
    return 1
  else :
    return 2

# Yes No to 1 and 0 

def logical_convert(x):
  if str(x) == "Yes":
    return 1 
  else :
    return 0

In [0]:
data["Urban"] = data["Urban"].apply(logical_convert)
data["US"] = data["US"].apply(logical_convert)
data["ShelveLoc"]  = data["ShelveLoc"].apply(convertShelf)

In [52]:
numeric_data  = ["Sales", 	"CompPrice"	, "Income", 	"Advertising", 	"Population", 	"Price"]
data[numeric_data].head(5)

   Sales  CompPrice  Income  Advertising  Population  Price
0   9.50        138      73           11         276    120
1  11.22        111      48           16         260     83
2  10.06        113      35           10         269     80
3   7.40        117     100            4         466     97
4   4.15        141      64            3         340    128

In [0]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
data[numeric_data] = sc.fit_transform(data[numeric_data])

In [55]:
predictor = ["Price", "Urban",  "US" ]
response = ["Sales"]
X = data[predictor]
y = data[response]
print("************Predictor**************")
print(X)
print("*************Response**************")
print(y)

************Predictor**************
        Price  Urban  US
0    0.177823      1   1
1   -1.386854      1   1
2   -1.513719      1   1
3   -0.794814      1   1
4    0.516132      1   0
..        ...    ...  ..
395  0.516132      1   1
396  0.177823      0   1
397  1.827078      1   1
398 -0.879391      1   1
399  0.177823      1   1

[400 rows x 3 columns]
*************Response**************
        Sales
0    0.710376
1    1.320179
2    0.908917
3   -0.034151
4   -1.186395
..        ...
395  1.798804
396 -0.480867
397 -0.030605
398 -0.551774
399  0.784829

[400 rows x 1 columns]

In [0]:
# Splitting the dataset into train and test sets 
from sklearn.model_selection import train_test_split 
# 80-20 ratio the model is split into train and test
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 1/5, random_state = 123)

In [57]:
data_val = pd.DataFrame()
data_val[predictor] =  X_train
data_val[response]  = y_train
lm=smf.ols('Sales ~ Price + US + Urban',data=data_val).fit()
print(lm.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  Sales   R-squared:                       0.252
Model:                            OLS   Adj. R-squared:                  0.245
Method:                 Least Squares   F-statistic:                     35.43
Date:                Sat, 01 Feb 2020   Prob (F-statistic):           9.14e-20
Time:                        09:16:39   Log-Likelihood:                -414.06
No. Observations:                 320   AIC:                             836.1
Df Residuals:                     316   BIC:                             851.2
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept     -0.2421      0.111     -2.179      0.030      -0.461      -0.023
Price         -0.4762      0.050     -9.583      0.000      -0.574      -0.378
US             0.4276      0.103      4.155      0.000       0.225       0.630
Urban         -0.0473      0.110     -0.432      0.666      -0.263       0.168
==============================================================================
Omnibus:                        0.871   Durbin-Watson:                   2.116
Prob(Omnibus):                  0.647   Jarque-Bera (JB):                0.841
Skew:                           0.125   Prob(JB):                        0.657
Kurtosis:                       2.973   Cond. No.                         4.27
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

# Q1. b]

In [0]:
"""

To check if there is any relationship between variables we check the p value of the variabls
the p-value of the  Urban in above example is not significant. Hence we can safely 

"""

# Q1. c]

In [0]:
"""

For Urban variable we can reject the null hypothesis 

"""

# Q1. d]

In [0]:
"""
Disadvantag are as follows:
1. Linear Model assumes linearity of the Response and the predictor variables
2. Linear Model is very sensitive to outliers 
3. Linear Model cannot be applied for models that are not linear for parameters

"""